body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #111;
}

.box {
  width: 300px;
  height: 500px;
  background: linear-gradient(135deg, #080808, #ff0202);
  border-radius: 10px;
  transition: all 0.4s ease-out;
  box-shadow:
    0 20px 50px rgba(255, 107, 107, 0.5),
    0 0 40px rgba(255, 142, 83, 0.7);
    color: white;
}

.box:hover {
  transform: scale(1.1) translateY(-10px);
  background: linear-gradient(135deg, #080808, #ff0202);
  box-shadow:
    0 20px 50px rgba(255, 107, 107, 0.5),
    0 0 40px rgba(255, 142, 83, 0.7);
    color: white;
   
}