*{
  box-sizing: border-box;
}
.container{
  width: 800px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}
.box{
  width: 200px;
  height: 200px;
  border: 2px solid rgb(255, 25, 0);
  margin: 20px;
}
